* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  /* background-image: url(./assets/asteroids.png); */
  /* background-size: auto; */
  background-color: black;
  color: white;
}

.main-content {
  width: 900px;
  margin: 0 auto;
  /* padding: 0 15px; */
  /* background-color:rgba(0, 0, 0, 0.945); */
  font-family: 'Open Sans', sans-serif;
}

.date-picker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.distance-unit-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  text-decoration: underline;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.asteroids-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  margin: 25px 0 15px 0;
}

.asteroid-card-wrapper {
  background-color: rgba(17, 17, 17, 0.884);
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: calc((100% - 30px)/3);
}

.favorite-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.favorite-btn-icon:hover {
  scale: 1.1;
}

.favorite-btn-icon{
  width: 25px;
}

.more-btn {
  background-color: rgb(248, 91, 0);
  border: none;
  border-radius: 15px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 5px 15px;
  margin: 0px auto 15px auto;
  width: 150px;
}

.navbar-wrapper {
  padding: 15px 15px;
  background-color: rgb(0, 0, 0);
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 2px solid rgba(117, 57, 0)
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.logo{
  max-width: 200px;
}

.navbar-favorite-btn-icon {
  width: 35px;
}

.navbar-favorite-btn{
  display: flex;
  align-items: center;
}

.navbar-favorite-btn:hover {
  scale: 1.1;
}