.asterid-card {
    font-size: 18px;
 }

  .asteroid-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
  }

  .asteroid-avatar-icon {
    padding-bottom: 10px;
    transition-duration: 2s;
    transition-property: transform;
    filter: brightness(150%)  grayscale(100%);
  }

  .asteroid-avatar-icon:hover {
    transform: rotate(180deg);
    filter: grayscale(0%)
  }

  .asterid-card-name {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
  }

  .asterid-card-info-line {
    display: flex;
    align-items: center;
  }

  .asterid-card-info-line img {
    padding-right: 8px;
  }